html, body {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 60px;
}

.sobre {
    background-color: #FFF;
    width: 50%;
    margin-left: 30px;
    padding: 40px;
    border-radius: 100px 30px;
    box-shadow: 9px 6px 15px 4px rgba(0,0,0,0.46);
}
.sobre h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(0, 126, 103);
}
.sobre p {
    margin-top: 10px;
}
.sobre span {
    font-weight: bold;
    font-size: 25px;
}